<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" scroll="no">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <title>文件管理<%=think.config('power_by')%></title>
    <link rel="Shortcut Icon" href="/static/images/favicon.ico">
    <link href="/static/js/lib/picasa/style/style.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome-ie7.css">
    <![endif]-->
