<div class='h1'><i class="font-icon icon-music"></i>音乐播放器设置</div>
<div class="section">
	<div class='box' data-type="musictheme">
	<div class=' list' data-value='ting'><div class='ico'><img src='/static/images/thumb/music/ting.jpg'/></div></div><div class=' list' data-value='beveled'><div class='ico'><img src='/static/images/thumb/music/beveled.jpg'/></div></div><div class=' list' data-value='kuwo'><div class='ico'><img src='/static/images/thumb/music/kuwo.jpg'/></div></div><div class=' list' data-value='manila'><div class='ico'><img src='/static/images/thumb/music/manila.jpg'/></div></div><div class='this list' data-value='mp3player'><div class='ico'><img src='/static/images/thumb/music/mp3player.jpg'/></div></div><div class=' list' data-value='qqmusic'><div class='ico'><img src='/static/images/thumb/music/qqmusic.jpg'/></div></div><div class=' list' data-value='somusic'><div class='ico'><img src='/static/images/thumb/music/somusic.jpg'/></div></div><div class=' list' data-value='xdj'><div class='ico'><img src='/static/images/thumb/music/xdj.jpg'/></div></div>	<div style="clear:both;"></div>
	</div>
</div>
<div class='h1'>视频播放器设置</div>
<div class="section">
	<div class='box' data-type="movietheme">
		<div class='this list' data-value='webplayer'><div class='ico'><img src='/static/images/thumb/movie/webplayer.jpg'/></div></div><div class=' list' data-value='qqplayer'><div class='ico'><img src='/static/images/thumb/movie/qqplayer.jpg'/></div></div><div class=' list' data-value='vplayer'><div class='ico'><img src='/static/images/thumb/movie/vplayer.jpg'/></div></div><div class=' list' data-value='tvlive'><div class='ico'><img src='/static/images/thumb/movie/tvlive.jpg'/></div></div><div class=' list' data-value='youtube'><div class='ico'><img src='/static/images/thumb/movie/youtube.jpg'/></div></div>		<div style="clear:both;"></div>
	</div>	
</div>