<%include common/header.html%>

<link href="/static/css/skin/metro/app_setting.css?ver=" rel="stylesheet" id='link_css_list'/>
<style type="text/css">
    #body input:focus {
        box-shadow: none;
    }

    .submit {
        padding: 10px 0;
        width: 95%;
        border: 1px dashed #4265a4;
        border-radius: 5px;
        color: #4265a4;
        margin: 20px auto;
        font-size: 20px;
        cursor: pointer;
        background-color: #fff;
    }

    .submit:hover {
        background-color: #4265a4;
        color: #fff;
    }

    #body .main .section span {
        font-size: 12px;
        color: #999;
        margin-left: 5px;
    }
</style>
</head>
<body>
<div id="body">
    <div class="menu_left">
        <h1>选项</h1>
        <ul class='setting'>
            <li id="config"><i class="font-icon icon-cog"></i>配置选项</li>
            <!-- <li id="member"><i class="font-icon icon-group"></i>用户管理</li> -->
            <!-- <li id="theme"><i class="font-icon icon-dashboard"></i>主题切换</li> -->
            <!-- <li id="wall"><i class="font-icon icon-picture"></i>更换壁纸</li> -->
            <!-- <li id="fav"><i class="font-icon icon-star"></i>收藏夹管理</li> -->
            <!-- <li id="player"><i class="font-icon icon-music"></i>播放器</li>	 -->
            <!-- <li id="help"><i class="font-icon icon-question"></i>使用帮助</li> -->
            <li id="about"><i class="font-icon icon-info-sign"></i>关于作品</li>
        </ul>
    </div>
    <div class='main'>
        <button type="button" class="btn">定制配置</button>
        <button type="button" class="btn">启动服务</button>
        <button type="button" class="btn">构建脚本(debug模式)</button>
        <button type="button" class="btn">构建脚本(release模式)</button>
        <button type="button" class="btn">关闭服务</button>
        <button type="button" class="btn">检查服务</button>
        <div class="info"></div>
    </div>
</div>

<%include common/script.html%>
<script type="text/javascript" src="/static/js/lib/socket.io/socket.io.js"></script>
<script type="text/javascript">
    seajs.config({
        base: "/static/js/",
        preload: ["lib/jquery-1.8.0.min"],
        map: [
            [/^(.*\.(?:css|js))(.*)$/i, '$1$2?ver=' + G.version]
        ]
    });
    seajs.use('_dev/src/stbui/main');
</script>
</body>
</html>